.Container {
    position: fixed;
    width: 220px;
    height: 120px;
    border-radius: 6px;
    bottom: 20%;
    right: 10%;
    background-color: #041833;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;

    &__list {
        padding: 0 0.7rem 0 0.7rem;
       
        &__listColum {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #F9F9F9;
            padding: 8px 0 8px 0;
            cursor: pointer;
            border-radius: 8px;

            &:hover{
                background-color: #2e66b0;
            }

            &__icon {
                padding: 5px;
                margin-right: 8px;
                display: flex;
                align-items: center;
            }
        }
    }


}