.form {
    width: 250px;
    height: auto;
    position: fixed;
    padding: 16px;
    border-radius: 14px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f2d53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #030f1f;
        box-sizing: border-box;

        button {
            border: none;
            text-align: end;
            color: rgb(17, 17, 17);
            font-weight: 600;
            font-size: 1rem;
            border-radius: 16px;
            background: none;
            color: #FFF;
            cursor: pointer;

            &:hover {
                color: rgb(209, 92, 92);
            }
        }

        p{
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 0.8rem;
        }
    }



    button[type="submit"] {
        width: 100%;
        background-color: #041833;
        color: #fff;
        border: none;
        margin-top: 18px;
        padding: 14px;
        border-radius: 16px;
        font-size: 0.8rem;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: #030f1f;
        }
    }

    input[type="text"] {
        background: #041833;
        border: none;
        outline: none;
        padding: 10px;
        color: #ccc;
        border-radius: 12px;
        cursor: text;

        &::placeholder {
            color: #ccc;
        }

        &:focus {
            background-color: #030f1f;
        }
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    &__text {
        color: #fff;
        font-size: 0.8rem;
        padding: 0 0 8px 8px;
    }

    &__selectStyle {
        position: relative;
        background-color: #041833;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;

        span{
            position: absolute;
            right: 10px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        select{
            width: 100%;
            background-color: #041833;
            color: #fff;
            border-radius: 12px;
            padding: 10px;
            cursor: pointer;
    
            &::placeholder {
                color: #ccc;
            }
    
        }
     }   
}

.inputFile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__previewImg {
        height: 180px;
        background-color: #041833;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 15px;
        font-size: 2rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        &:hover {
            background-color: #030f1f;
        }
    }

    input[type="file"] {
        width: 100%;
        display: none;
    }
}